.breadcrumb {
	padding: 20px 0;
	overflow-x: auto;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	margin-bottom: 20px;

	&__list {
		display: flex;
		flex-direction: row;
	}

	&__item {
		color: #5a6171;
		font-weight: 500;

		&::after {
			display: inline-block;
			content: "";
			width: 24px;
			height: 1px;
			background: #A4A09D;
			margin: 0 10px;
			position: relative;
			top: -4px;
		}
	}

	&:last-child::after {
		display: none;
	}



	&__link {
		color: #A4A09D;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: #2F2F2F;
		}
	}


}