.about-text {

    position: relative;

    &__stone-1 {
        right: 25%;
        top: -200px;

        @media(max-width:992px) {
            right: 0%;
            max-width: 200px;
            top: -200px;
        }
    }

    &__stone-2 {
        right: 45%;
        bottom: -200px;

        @media(max-width:992px) {
            right: 0;
            bottom: -200px;
            width: 120px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 60% auto;
        grid-gap: 22px;

        @media(max-width:992px) {
            grid-template-columns: 1fr;
        }
    }

    &__left {
        p {
            font-weight: 400;
            font-size: 48px;
            line-height: 117%;
            letter-spacing: -0.03em;
            color: #856F5D;

            @media(max-width:992px) {
                font-size: 24px;
            }
        }
    }

    &__right {
        padding-top: 200px;

        @media(max-width:992px) {
            padding-top: 0;
        }

        p {
            @media(max-width:992px) {
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
            }

            font-size: 24px;
            line-height: 133%;
            color: #856F5D;

            letter-spacing: -0.03em;
        }

    }
}


.about-map {
    position: relative;

    color: #fff;

    .block {
        padding-top: 75px;
        padding-bottom: 90px;
    }

    .sub-title {
        color: #fff;
    }

    .block__head {
        border-color: #fff;
    }

    &__row {
        display: grid;
        grid-template-columns: auto 433px;
        grid-gap: 40px;

        @media(max-width:992px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    }

    &__text {
        @media(max-width:992px) {
            text-align: center
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 28px;
    }

    &__map {
        position: relative;



        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #856F5D;
            mix-blend-mode: soft-light;
            content: '';
        }
    }

    &__bg {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 100vw;
        background: #856F5D;
        margin-left: -50vw;
    }

    &__cone-1 {
        top: 40%;
        right: 140px;

        @media(max-width:992px) {
            top: -60px;
            right: -70px;
            width: 250px;
        }
    }

    &__cone-2 {
        top: 65%;
        right: 2%;

        @media(max-width:992px) {
            top: initial;
            right: 0;
            bottom: -50px;
            width: 140px;
        }
    }
}