extends ../../layout/layout
block title
	title Бухта Петрова
block content
	.inner
		+breadcrumb(['Главная'], 'О курорте')
		.page__head 
			h1 О курорте
			.page__down
		.full-img.block
			+picture('about-1','png')
		.anim-block.about-text
			.block

				.about-text__row.text 
					.about-text__left
						.h3 
							color  Приморские Мальдивы — ещё одно название бухты Петрова, и её, без преувеличения, можно назвать райским уголком.
					.about-text__right
						p
							color  Кристально чистая вода лазурного цвета, белоснежный песчаный берег, острова на горизонте, высокое звёздное небо и таинственный лес. Создавая здесь курорт, мы постарались оставить место нетронутым, чтобы ничего не отвлекало от созерцания природы.
			.about-text__stone-1.parallax(data-parallax="-100")
				picture
					source(type="image/webp", srcset="img/stone-2.webp")
				img(alt="",src="img/stone-2.png" ,data-depth="0.2")
			.about-text__stone-2.parallax(data-parallax="-100")
				picture
					source(type="image/webp", srcset="img/stone-3.webp")
					img(alt="",src="img/stone-3.png" ,data-depth="0.2")
		.anim-block.about
			.block
				.block__head
					h2.sub-title о курорте 
				.about__row.info-grid
					.info-item._w-30._radius
						.info-item__text
							.info-item__title 30 домов у моря
							.info-item__desc  
								p от 30 до 200 метров от кромки воды
						.info-item__img
							+picture('a-1','jpg')
					.info-item._w-45._radius
						.info-item__text
							.info-item__title простор
							.info-item__desc  
								p дома расположены на большом расстоянии друг от друга, нет ощущения густонаселённости и плотной застройки
						.info-item__img
							+picture('a-2','jpg')
					.info-item._w-25._brown
						.info-item__text
							.info-item__title 30 домов у моря
							.info-item__desc  
								p от 30 до 200 метров от кромки воды
						.info-item__img.mouseparallax
							+picture('a-3','png')
					.info-item._w-25._blue-gray
						.info-item__text
							.info-item__title Спокойствие и тишина
							.info-item__desc  
								p нас выбирают люди, которые уважают комфорт и сон
						.info-item__img.mouseparallax
							picture
								source(type="image/webp", srcset="img/a-4.webp")
								img(alt="",src="img/a-4.png" ,data-depth="0.5")
					.info-item._w-30._radius
						.info-item__text
							.info-item__title Семейный отдых
							.info-item__desc  
								p коттеджи оборудованы всем необходимым, чтобы семейный отдых не отнимал силы, а дарил удовольствие
						.info-item__img
							+picture('a-5','jpg')
					.info-item._w-45._radius
						.info-item__text
							.info-item__title._aqua-color Море везде
							.info-item__desc  
								p дома расположены так, что из каждого окна открывается великолепный вид на бухту
						.info-item__img
							+picture('a-6','jpg')
					.info-item._w-45._radius
						.info-item__text
							.info-item__title._brown-color Русская баня
							.info-item__desc  
								p  для полноценного отдыха тела и души
						.info-item__img
							+picture('a-7','jpg')
					.info-item._w-25._soft-orange
						.info-item__text
							.info-item__title Романтический отдых
							.info-item__desc  
								p прекрасное место, чтобы получить незабываемые впечатления и укрепить отношения
						.info-item__img.mouseparallax
							+picture('a-88','png')
					.info-item._w-30._radius
						.info-item__text
							.info-item__title Все красоты Приморья
							.info-item__desc  
								p курорт находится вблизи главных природных достопримечательностей
						.info-item__img
							+picture('a-8','jpg')
					.info-item._w-30._radius
						.info-item__text
							.info-item__title._khaki-color Дикая природа
							.info-item__desc  
								p здесь можно увидеть ларги, пятнистых оленей, редких птиц, а иногда даже следы тигров! Ко всем диким животным мы относимся с любовью и уважением.
						.info-item__img
							+picture('a-9','jpg')
					.info-item._w-45._radius
						.info-item__text
							.info-item__title._brown-color К нам нельзя с домашними животными
							.info-item__desc  
								p от 30 до 200 метров от кромки воды
						.info-item__img
							+picture('a-10','jpg')
					.info-item._w-25._blue-color
						.info-item__text
							.info-item__title Есть скважина с питьевой водой
							.info-item__desc  
								p Свою воду везти не нужно!
						.info-item__img.mouseparallax
							+picture('a-11','png')
		.anim-block.about-map
			.block 
				.about-map__bg
				.about-map__relative
					.block__head 
						h2.sub-title  карта местности 
					.about-map__row 
						.about-map__map.full-img
							+picture('map','jpg')
						.about-map__text 
							.about-map__title все ключевые объекты курорта на одной карте 
							a.btn._brown-wh(href="#") Подробнее об инфраструктуре курорта
			.about-map__cone-1.parallax(data-parallax="100")
				picture
					source(type="image/webp", srcset="img/cone-2.webp")
					img(alt="",src="img/cone-2.png" ,data-depth="0.2")
			.about-map__cone-2.parallax(data-parallax="150")
				picture
					source(type="image/webp", srcset="img/cone-3.webp")
					img(alt="",src="img/cone-3.png" ,data-depth="0.2")
		.anim-block.photogallery
			.block 
				.block__head 
					h2.sub-title Фото
				include ../../layout/component/gallery-slider/gallery-slider
			
		.anim-block.residence-slide
			.block
				.block__head 
					h2.sub-title  варианты размещения  
					a(href="#").btn._dark Все номера 
				include ../../layout/component/residence-slider/residence-slider