.about-text {

    position: relative;

    &__stone-1 {
        right: 25%;
        top: -200px;
    }

    &__stone-2 {
        right: 45%;
        bottom: -200px;
    }

    &__row {
        display: grid;
        grid-template-columns: 60% auto;
        grid-gap: 22px;
    }

    &__left {
        p {
            font-weight: 400;
            font-size: 48px;
            line-height: 117%;
            letter-spacing: -0.03em;
            color: #856F5D;
        }
    }

    &__right {
        padding-top: 200px;

        p {
            font-size: 24px;
            line-height: 133%;
            color: #856F5D;

            letter-spacing: -0.03em;
        }

    }
}


.about-map {
    position: relative;
    padding-top: 75px;
    padding-bottom: 90px;
    color: #fff;

    .sub-title {
        color: #fff;
    }

    .block__head {
        border-color: #fff;
    }

    &__row {
        display: grid;
        grid-template-columns: auto 433px;
        grid-gap: 40px;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 28px;
    }

    &__map {
        position: relative;



        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #856F5D;
            mix-blend-mode: soft-light;
            content: '';
        }
    }

    &__bg {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 100vw;
        background: #856F5D;
        margin-left: -50vw;
    }

    &__cone-1 {
        top: 40%;
        right: 140px;
    }

    &__cone-2 {
        top: 65%;
        right: 2%;
    }
}