.about-text {

    position: relative;

    &__stone-1 {
        right: 25%;
        top: -200px;
    }

    &__stone-2 {
        right: 45%;
        bottom: -200px;
    }

    &__row {
        display: grid;
        grid-template-columns: 60% auto;
        grid-gap: 22px;
    }

    &__left {
        p {
            font-weight: 400;
            font-size: 48px;
            line-height: 117%;
            letter-spacing: -0.03em;
            color: #856F5D;
        }
    }

    &__right {
        padding-top: 200px;

        p {
            font-size: 24px;
            line-height: 133%;
            color: #856F5D;

            letter-spacing: -0.03em;
        }

    }
}

.about {
    &__row {
        display: grid;
        grid-gap: 22px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.about-it {
    background: #fff;
    padding: 32px 22px;
    grid-column: span 2;
    padding-bottom: 350px;
    position: relative;

    &._brown {
        background: #856F5D;
        color: #fff
    }

    &._blue-gray {
        background: #5D6F85;
        color: #fff
    }

    &._soft-orange {
        background: #E8966E;
        color: #fff
    }

    &__img {
        width: calc(100% - 44px);
        height: 325px;
        position: absolute;
        left: 22px;
        bottom: 22px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;

        &._radius {
            img {
                border-radius: 1000px;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__desc {
        margin-bottom: 20px;

        p {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.03em;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 16px;
        @include lh(16, 22);
        letter-spacing: -0.03em;
        margin-bottom: 7px;
        text-transform: uppercase;


    }

    &:nth-child(9n+1),
    &:nth-child(9n+5),
    &:nth-child(9n+9) {
        grid-column: span 6
    }

    &:nth-child(9n+2),
    &:nth-child(9n+6),
    &:nth-child(9n+7) {
        grid-column: span 9
    }

    &:nth-child(9n+3),
    &:nth-child(9n+4),
    &:nth-child(9n+8) {
        grid-column: span 5
    }
}

.about-map {
    position: relative;
    padding-top: 75px;
    padding-bottom: 90px;
    color: #fff;

    .sub-title {
        color: #fff;
    }

    .block__head {
        border-color: #fff;
    }

    &__row {
        display: grid;
        grid-template-columns: auto 433px;
        grid-gap: 40px;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 28px;
    }

    &__map {
        position: relative;



        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #856F5D;
            mix-blend-mode: soft-light;
            content: '';
        }
    }

    &__bg {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 100vw;
        background: #856F5D;
        margin-left: -50vw;
    }

    &__cone-1 {
        top: 40%;
        right: 140px;
    }

    &__cone-2 {
        top: 65%;
        right: 2%;
    }
}