.btn {
    background: #5FCFCF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 20px;
    padding: 8px 16px;
    border: 0 solid;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: box-shadow 0.3s;
    text-decoration: none;
    font-size: 16px;
    @include lh(16, 20);

    @media(max-width:992px) {
        padding: 9px 15px;
        font-size: 14px;

        .header & {

            padding: 6px 13px;
            font-size: 12px;
        }
    }

    &._big {
        padding: 14px 30px;
        border-radius: 30px;
    }

    &._dark {
        background: #3D3C3A;
    }

    &._white {
        color: #2F2F2F;
        background: #fff;
    }

    &._brown-wh {
        color: #856F5D;
        background: #fff;
    }

    &._brown {
        background: #856F5D;
    }

    &:hover {
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    }

    &__text {
        position: relative;
        z-index: 5;
    }

    &__bg {
        .btn:hover & {
            opacity: 1;
        }

        opacity: 0;
        transition: opacity 0.6s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(63.43deg, #F4CB78 -0.13%, #5FCFCF 99.97%);
    }
}

.link-arrow {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    text-align: center;
    letter-spacing: -0.03em;
    position: relative;
    padding-right: 0px;
    color: #2F2F2F;
    transition: color 0.3s;

    @media(max-width:992px) {
        font-size: 14px
    }

    &:hover {
        color: $brown;

        svg {
            stroke: $brown;
            transform: rotate(45deg);
        }
    }

    svg {
        margin-left: 7px;
        stroke: #2F2F2F;
        transition: transform 0.3s, stroke 0.3s;
    }

    &._white {
        stroke: #fff;
        color: #fff;

        svg {
            stroke: #fff;
        }

        &:hover {
            color: #fff;

            svg {
                stroke: #fff;
                transform: rotate(45deg);
            }
        }
    }

}