.mobmenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;



    .header__burger-close {
        border-color: rgba(244, 203, 120, 1);
    }

    .header__row {
        border-bottom: 1px solid #BBBBBB;
    }

    &__menu {
        max-width: 50%;

        li {
            border-bottom: 1px solid #BBBBBB;
            padding: 10px 0;

            &:last-child {
                border: 0 solid;
            }

            a {
                font-weight: 400;
                font-size: 40px;
                line-height: 74px;
                /* identical to box height, or 185% */
                color: rgba(47, 47, 47, 1);
                letter-spacing: -0.03em;
                text-transform: uppercase;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: rgba(244, 203, 120, 1);
                }
            }
        }
    }

    &__relative {
        padding-top: 97px;
        position: relative;
        height: calc(var(--vh, 1vh)*100)
    }

    &__gallery {
        height: 100%;
        position: absolute;
        width: calc(50% - 12px);

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }

        &._right {
            transform: scaleY(-1);

            .mobmenu-gallery-it {
                transform: scaleY(-1);
            }
        }
    }

    &__gallerys {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        max-width: calc(50% - 22px);
        width: 100%;

        .swiper-wrapper {
            transition-timing-function: linear !important;
        }

    }
}

.mobmenu-gallery-it {
    width: 319px;
    border-radius: 1000px;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        transition: opacity 0.8s;
        background: rgba($color: #fff, $alpha: 0.7)
    }

    &.swiper-slide-active {}

    &:hover {
        &::after {
            opacity: 0;
        }
    }
}

.mobmenu__gallery._left {
    .swiper-slide-active::after {
        opacity: 0 !important;
    }
}