extends ../../layout/layout
block title
	title Бухта Петрова
block content
	.inner
		+breadcrumb(['Главная'], 'услуги')
		.page__head 
			h1 услуги 
				small для отдыха душой и телом
		.full-img._full-height.block
			+picture('service-bg','jpg')
		.block
			.block__head 
				h2.sub-title развлечения на берегу
			.info-grid
					.info-item._w-50._radius
						.info-item__text
							.info-item__title банный комплекс 
							.info-item__desc  
								p Баня и горячая купель у кромки воды 
						.info-item__link-wrap 
							a(href="#").info-item__link  Узнать большe
						.info-item__img
							img(src="img/s-1.jpg", alt="")
					.info-item._w-50._radius
						.info-item__text
							.info-item__title Русская баня в лесу
							.info-item__desc  
								p  Баня из дикого сруба сделана вручную
						.info-item__link-wrap 
							a(href="#").info-item__link  Узнать большe
						.info-item__img
							img(src="img/s-2.jpg", alt="")
		.anim-block
			.block
				.block__head 
					h2.sub-title водный прокат
				.info-grid
						.info-item._bg._w-50
							.info-item__text
								.info-item__title  Спортивная площадка
								.info-item__desc  
									p Для тренировок каждый день
							.info-item__link-wrap 
								a(href="#").info-item__link  Узнать большe
							.info-item__img
								img(src="img/s-3.jpg", alt="")
						.info-item._bg._w-50
							.info-item__text
								.info-item__title Летний кинотеатр
								.info-item__desc  
									p  Баня из дикого сруба сделана вручную
							.info-item__link-wrap 
								a(href="#").info-item__link  Узнать большe
							.info-item__img
								img(src="img/s-4.jpg", alt="")
		.anim-block
			.block
				.block__head 
					h2.sub-title развлечения на берегу 
				.info-grid

						.info-item._w-50._radius
							.info-item__text
								.info-item__title  Спортивная площадка
								.info-item__desc  
									p Для тренировок каждый день
							.info-item__link-wrap 
								a(href="#").info-item__link  Узнать большe
							.info-item__img
								img(src="img/s-5.jpg", alt="")
						.info-item._w-50._radius
							.info-item__text
								.info-item__title Летний кинотеатр
								.info-item__desc  
									p  Баня из дикого сруба сделана вручную
							.info-item__link-wrap 
								a(href="#").info-item__link  Узнать большe
							.info-item__img
								img(src="img/s-6.jpg", alt="")
		.anim-block
			.block
				.block__head 
					h2.sub-title для детей
				.info-grid
			
						.info-item._w-100._radius._img-left
							.info-item__text
								.info-item__title  Спортивная площадка
								.info-item__desc  
									p Для тренировок каждый день
							.info-item__link-wrap 
								a(href="#").info-item__link  Узнать большe
							.info-item__img
								img(src="img/s-7.jpg", alt="")
						