.contact-methods {
    &__row {
        display: grid;
        grid-template-columns: auto 35% 40%;
        grid-gap: 22px;
        min-height: 251px;

        @media(max-width:992px) {
            grid-gap: 12px;
            grid-template-columns: 1fr;
        }
    }
}

.contact-method {
    padding: 32px 22px;
    background: #fff;

    &__title {
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 7px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }

    a {
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        /* identical to box height */
        display: block;
        margin-bottom: 4px;
        letter-spacing: -0.03em;
        text-decoration: none;
        text-transform: uppercase;
        color: #2F2F2F;

        &:hover {
            text-decoration: underline;
        }
    }

    &__body {
        min-height: 44px;
        margin-bottom: 8px;
    }

    &._mail {

        .contact-method__title,
        a {
            color: #6C8BA0;
        }
    }

    &._whatsApp {
        background: #00A884;
        color: #fff;

        a {
            color: #fff
        }
    }
}

.contact {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto 280px;

    @media(max-width:992px) {
        grid-gap: 0px;
        grid-template-columns: 1fr;
    }

    &__left,
    &__right {
        margin-bottom: 20px;
    }
}

.contact-form {
    padding: 20px;
    background-color: #fff;
    padding-right: 50%;
    position: relative;

    @media(max-width:992px) {
        padding-right: 0;
    }

    &__title {
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 7px;
    }

    &__desc {
        font-weight: 300;
        font-size: 16px;
        @include lh(16, 22);
        letter-spacing: -0.03em;
        margin-bottom: 38px;
    }

    &__bottom {
        margin-top: 21px;
        margin-bottom: 20px;

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: -0.02em;
            color: #868686;

            a {
                color: rgba(95, 207, 207, 1);
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__bg {
        position: absolute;
        width: calc(50% - 40px);
        height: calc(100% - 40px);
        object-fit: cover;
        top: 20px;
        right: 20px;

        @media(max-width:992px) {
            display: none;
        }
    }
}