body {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 150%;
	color: #2F2F2F;
	letter-spacing: -0.02em;

	&._no-scroll {
		overflow: hidden;
	}
}

img {
	max-width: 100%;
}

* {
	-webkit-box-decoration-break: clone;
	isolation: isolate;
}

@media (min-width: 992px) {
	._v-mob {
		display: none;
	}
}

@media (max-width: 992px) {
	._v-desc {
		display: none;
	}
}

.row {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;

	.col-lg-8 {
		grid-column: span 8;
	}

	.col-lg-4 {
		grid-column: span 4;
	}

	.col-lg-7 {
		grid-column: span 7;
	}

	.col-lg-5 {
		grid-column: span 5;
	}
}

.page {
	background: #DDDDDD;
	overflow: hidden;

	&__head {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}

	h1,
	.h1 {
		margin-right: auto;
	}
}

color {
	color: $brown
}

.full-img {
	overflow: hidden;

	&._radius {
		border-radius: 1000px;
	}

	img {
		transition: transform 0.5s;
		transform: scale(1.05);
	}

	&.aos-animate {
		img {
			transform: scale(1);
		}
	}
}

._no-top-padding {
	margin-top: -158px;

	@media (max-width: 992px) {
		margin-top: -100px;
	}
}

.page {
	padding-top: 98px;

	.front-page & {
		padding-top: 0;
	}
}

.inner {
	padding: 0px 48px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1485px;

	@media (max-width: 1200px) {
		padding: 0px 20px;
	}

	@media (max-width: 992px) {
		padding: 0px 10px;
	}
}

._hidden {
	display: none !important;
}

.block {
	margin-bottom: 90px;

	@media (max-width: 992px) {
		margin-bottom: 80px;
	}

	&__head {
		border-top: 1px solid #2F2F2F;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 45px 0;

		h2,
		.h2 {
			margin: 0;
			margin-right: auto;
		}
	}
}

.center {
	text-align: center;
}

.page-inner {}

._aqua-color {
	color: rgba(1, 136, 139, 1);
}

._brown-color {
	color: #AC643B;
}

._khaki-color {
	color: #78721F;
}

._blue-color {
	color: #2573A9;
}