h1,
.h1 {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 66px;
	@include lh(48, 66);
	margin-bottom: 20px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	text-transform: uppercase;

	color {
		color: $blue;
	}

	@media (max-width: 1300px) {
		font-size: 40px;
	}

	@media (max-width: 992px) {
		font-size: 32px;
		line-height: 44px;
		letter-spacing: -0.02em;
	}

	small {
		font-weight: 800;
		font-size: 16px;
		line-height: 22px;
		/* identical to box height */

		letter-spacing: -0.03em;
		text-transform: uppercase;

		color: #2F2F2F;

		@media (max-width: 992px) {
			line-height: 19px;
			font-size: 14px;
			display: block;
		}
	}
}

h2,
.h2 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	/* identical to box height */

	letter-spacing: -0.03em;
	text-transform: uppercase;



	color {
		color: #856F5D;
	}

	// &._left {
	// 	text-align: left !important;
	// }
	// @media (max-width: 1300px) {
	// 	font-size: 40px;
	// 	margin-bottom: 40px;
	// }

	// @media (max-width: 992px) {
	// 	font-size: 32px;
	// 	margin-bottom: 20px;
	// 	letter-spacing: 6px;
	// }
}

.title {
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	@include lh(48, 66);
	letter-spacing: -0.02em;
	text-transform: uppercase;

	@media(max-width:992px) {
		font-size: 36px;
	}

	@media(max-width:600px) {
		font-size: 24px;
	}


}

.sub-title {
	font-weight: 700;
	font-size: 24px;
	color: #2a2a29;
	margin-bottom: 20px;

	@media (max-width: 992px) {
		font-size: 18px;
		line-height: 25px;
	}
}

.text {

	h3,
	.h3,
	.big {
		font-weight: 400;
		font-size: 48px;
		line-height: 117%;
		letter-spacing: -0.03em;
		margin: 0;
		margin-bottom: 20px;
		text-transform: initial;

		@media(max-width:992px) {
			font-size: 24px;

		}
	}

	p {
		font-weight: 400;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: -0.03em;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (max-width: 992px) {
			font-size: 16px;
			margin-bottom: 20px;
		}

		a {
			color: #856F5D;
			font-weight: 800;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.front-page & {
		p {
			font-weight: 400;
			font-size: 20px;
			line-height: 160%;
			letter-spacing: -0.03em;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}

			@media (max-width: 992px) {
				font-size: 16px;
				margin-bottom: 20px;
			}
		}
	}

	._two-column ul {
		column-count: 2;
		column-gap: 30px;

		li {
			page-break-inside: avoid;
			break-inside: avoid;
		}

		@media(max-width:992px) {
			column-count: 1;
		}
	}

	ul {
		margin-bottom: 72px;

		li {
			margin-bottom: 12px;
			position: relative;
			font-weight: 400;
			font-size: 24px;
			line-height: 133%;
			/* identical to box height, or  */
			padding-left: 25px;
			letter-spacing: -0.03em;

			@media(max-width:992px) {
				font-size: 16px;
			}

			&::before {
				content: '—';
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

blockquote {
	padding: 18px;
	padding-left: 24px;
	padding-right: 0;
	border-left: 6px solid #F4CB78;
	font-weight: 800;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}