h1,
.h1 {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 66px;
	@include lh(48, 66);
	margin-bottom: 20px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	text-transform: uppercase;

	color {
		color: $blue;
	}

	@media (max-width: 1300px) {
		font-size: 40px;
	}

	@media (max-width: 992px) {
		font-size: 32px;
		letter-spacing: 6px;
	}
}

h2,
.h2 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	/* identical to box height */

	letter-spacing: -0.03em;
	text-transform: uppercase;



	color {
		color: #856F5D;
	}

	// &._left {
	// 	text-align: left !important;
	// }
	// @media (max-width: 1300px) {
	// 	font-size: 40px;
	// 	margin-bottom: 40px;
	// }

	// @media (max-width: 992px) {
	// 	font-size: 32px;
	// 	margin-bottom: 20px;
	// 	letter-spacing: 6px;
	// }
}

.title {
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	@include lh(48, 66);
	letter-spacing: -0.02em;
	text-transform: uppercase;

	@media(max-width:992px) {
		font-size: 36px;
	}

	@media(max-width:600px) {
		font-size: 32px;
	}

}

.sub-title {
	font-weight: 800;
	font-size: 24px;
	color: #2a2a29;
	margin-bottom: 20px;

	@media (max-width: 992px) {
		font-size: 18px;
	}
}

.text {
	p {
		font-weight: 400;
		font-size: 20px;
		line-height: 160%;
		letter-spacing: -0.03em;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (max-width: 992px) {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}

	ul {
		margin-bottom: 72px;

		li {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11.9546C0 18.5593 5.37623 23.909 11.9956 23.909V18.2697C8.49219 18.2697 5.6507 15.4379 5.6507 11.9465H0V11.9546Z' fill='%23364DE7'/%3E%3Cpath d='M18.341 11.9545H23.9998C23.9998 5.35778 18.6236 0 11.9961 0V5.63935C15.4995 5.63935 18.341 8.47109 18.341 11.9625V11.9545Z' fill='%23364DE7'/%3E%3C/svg%3E%0A");
			background-position: top left;
			background-repeat: no-repeat;
			margin-bottom: 30px;
			position: relative;
			padding-top: 4px;
			padding-left: 37px;
			font-weight: 400;
			font-size: 14px;
			line-height: 157%;
			color: #5a6171;
		}
	}
}