extends ../../layout/layout
block title
	title Бухта Петрова
block content
	.inner
		+breadcrumb(['Главная','услуги'], 'услуги')
		.page__head 
			h1 БАНЯ С КУПЕЛЬЮ НА БЕРЕГУ МОРЯ 
				small у самой кромки воды
			a(href="#").btn._brown._v-desc  Забронировать баню
		.block
			.full-img._full-height._radius
				+picture('service-bg-2','jpg')
			.btn-wrap._v-mob 
				a(href="#").btn._brown  Забронировать баню
		.anim-block
			.block
				.block__head 
					h2.sub-title рядом
				.text 
					h3 Баня расположена на пляже, всего в 10 метрах от кромки воды. Горячая купель с видом на море подарит множество сладостных минут, особенно приятно в ней любоваться закатом. После горячей парной можно окунуться в прохладном море.
					.row 
						.col-lg-8 
						.col-lg-4
							p Баня сделана из натуральной сосны и с комфортом вмещает до 4-х человек.
		.anim-block
			.block
				include ../../layout/component/gallery-slider/gallery-slider
		.anim-block.wh-block
			.block.text 
				h3 Постоянные прогулки на каяке:
				ul 
					li укрепляют все группы мышц;
					li способствуют похудению;
					li стабилизируют кровяное давление и укрепляют сердечно-сосудистую систему;
					li гармонизируют уровень холестерина и сахара в крови;
					li вентилируют лёгкие;
					li повышают выносливость;
					li улучшают самочувствие и внешний вид;
				+picture('service-wh','jpg')
		.anim-block.wh-block
			.block 
				.text 
					h3 Постоянные прогулки на каяке:
					p Баня расположена на пляже, всего в 10 метрах от кромки воды. Горячая купель с видом на море подарит множество сладостных минут, особенно приятно в ней любоваться закатом. После горячей парной можно окунуться в прохладном море.
					._two-column 
						ul
							li укрепляют все группы мышц;
							li способствуют похудению;
							li стабилизируют кровяное давление и укрепляют сердечно-сосудистую систему;
							li гармонизируют уровень холестерина и сахара в крови;
							li вентилируют лёгкие;
							li повышают выносливость;
							li улучшают самочувствие и внешний вид;
			include ../../layout/component/gallery-slider/gallery-slider
		.anim-block
			.block 
				.block__head 
					h2.sub-title прайс лист
				.price-list 
					.price-item
						.price-item__time 09:00–22:00
						.price-item__price 2 500 ₽/час
						.price-item__dops
							p Дубовый веник: 300 ₽
								br
								| Шапочка: 500 ₽
						.price-item__btn-wrap 
							a(href="#").btn._brown Забронировать баню
					.price-item
						.price-item__time 22:00–09:00
						.price-item__price 2 500 ₽/час
						.price-item__dops
							p Дубовый веник: 300 ₽
								br
								| Шапочка: 500 ₽
						.price-item__btn-wrap 
							a(href="#").btn._brown Забронировать баню
