.bg-scale {

    video,
    img {
        transform: scale(1.15);
    }

    &.aos-animate {

        video,
        img {
            transform: scale(1);
        }
    }
}

.anim-block {
    .block {
        will-change: top;
        position: relative;
        top: 400px;
        transition: top 0.1s
    }
}