.bg-scale {

    video,
    img {
        transform: scale(1.08);
    }

    &.aos-animate {

        video,
        img {
            transform: scale(1);
        }
    }
}

.anim-block {
    width: 100%;

    .block {
        will-change: top;
        position: relative;
        top: 200px;

    }
}