.residence-list {
    .residence {
        margin-bottom: 22px;
    }
}

.residence {
    position: relative;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;

        img,
        video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.1);
            transition: transform 0.8s;

            .residence.aos-animate & {
                transform: scale(1);
            }
        }



        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: rgba(#000, 0.5)
        }
    }

    &__content {
        position: relative;
        max-height: calc((var(--vh, 1vh)*100) - 140px);
        height: 765px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        color: #fff;

        @media(max-width:992px) {
            min-height: 565px;
            padding: 20px;
        }

        @media(max-width:600px) {
            min-height: 505px;
        }
    }

    &__head {
        margin-bottom: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media(max-width:992px) {
            align-items: flex-start;
        }
    }

    &__parametrs {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        flex-wrap: wrap;

        // @media(max-width:992px) {
        //     display: grid;
        //     grid-template-columns: 1fr;
        // }

        li {
            font-weight: 500;
            font-size: 18px;
            line-height: 178%;
            letter-spacing: -0.02em;
            margin-right: 20px;
            padding-left: 20px;
            text-transform: uppercase;
            position: relative;
            order: 3;

            @media(max-width:600px) {
                font-size: 14px;
            }

            &::before {
                display: block;
                content: '';
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                position: absolute;
            }

            &.icon-square {
                @media(max-width:992px) {
                    order: 0
                }

                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 1H15V15H1V1H5L8 3M7 15V8M4.5 8H9.5M12.5 8H15' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
                }
            }

            &.icon-capacity {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 15H15V13.5C15 12.1193 13.8807 11 12.5 11M9 3.99804C9 5.65396 7.657 6.99609 6 6.99609C4.343 6.99609 3 5.65396 3 3.99804C3 2.34212 4.343 1 6 1C7.657 1 9 2.34212 9 3.99804ZM11 14.9909H1C1 14.2808 1 13.6053 1 12.9936C1 11.3368 2.34315 9.99414 4 9.99414H8C9.65685 9.99414 11 11.3368 11 12.9936C11 13.6053 11 14.2808 11 14.9909ZM12 9C10.8954 9 10 8.10457 10 7C10 5.89543 10.8954 5 12 5C13.1046 5 14 5.89543 14 7C14 8.10457 13.1046 9 12 9Z' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
                }
            }

            &.icon-room {
                @media(max-width:992px) {
                    order: 1
                }

                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 2V5H2C1.44772 5 1 5.44772 1 6V14C1 14.5523 1.44772 15 2 15H10C10.5523 15 11 14.5523 11 14V11H14C14.5523 11 15 10.5523 15 10V2C15 1.44772 14.5523 1 14 1H6C5.44772 1 5 1.44772 5 2Z' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__paginator {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        letter-spacing: -0.03em;

        @media(max-width:600px) {
            position: absolute;
            left: 20px;
            bottom: 20px;
        }

        color: #FFFFFF;
    }

    &__paginator-now {}

    &__divider {
        height: 2px;
        width: 44px;
        margin: 0px 8px;
        background: #fff;
    }

    &__paginator-all {}

    &__body {}

    &__title {
        font-weight: 400;
        font-size: 48px;
        @include lh(48, 66);
        text-transform: uppercase;
        letter-spacing: -0.03em;
        text-transform: uppercase;

        @media(max-width:992px) {
            font-size: 24px;
        }
    }

    &__desc {
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            letter-spacing: -0.03em;

            @media(max-width:992px) {
                font-size: 14px;
            }
        }
    }

    &__footer {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
}