extends ../../layout/layout
block title
	title Бухта Петрова
block content
	.inner
		+breadcrumb(['Главная'], 'Проживание')
		.page__head 
			h1 Проживание
			.page__down
		.residence-list.block
			.residence
				.residence__bg.bg-scale 
					+picture('r-1','jpg') 
				.residence__content
					.residence__head
						ul.residence__parametrs 
							li.icon-square Площадь номера 150 м2
							li.icon-capacity вместимость до 12 человек 
							li.icon-room 5 комнат
					.residence__body
						.residence__title 5-ти комнатный коттедж из сруба 
						.residence__desc 
							p  Большой дом из сруба ели, вручную сложенный сибирскими мастерами. Настоящая сказка!
								br
								| Здесь очень сладко дышится и спится
					.residence__footer 
							a(href="#").btn._white Забронировать
							a(href="#").link-arrow._white Подробнее о номере
			.residence
				.residence__bg.bg-scale 
					+picture('r-2','jpg') 
				.residence__content
					.residence__head
						ul.residence__parametrs 
							li.icon-square Площадь номера 47 м2
							li.icon-capacity вместимость до 6 человек 
							li.icon-room 3 комнаты
					.residence__body
						.residence__title 3-х комнатный коттедж из дерева
						.residence__desc 
							p  Семейный коттедж из лиственницы с двумя спальнями и гостиной вмещает до 6 человек.
					.residence__footer 
							a(href="#").btn._white Забронировать
							a(href="#").link-arrow._white Подробнее о номере
			.residence
				.residence__bg.bg-scale 
					+picture('r-3','jpg') 
				.residence__content
					.residence__head
						ul.residence__parametrs 
							li.icon-square Площадь номера 29 м2
							li.icon-capacity вместимость до 4 человек 
							li.icon-room 2 комнаты
					.residence__body
						.residence__title 2-х комнатный коттедж из дерева
						.residence__desc 
							p  Уютный коттедж из лиственницы с одной спальней, ванной и обеденной зоной. 
								br
								| Тёплые полы, мини-кухня, панорамные окна и терраса с видом.
					.residence__footer 
							a(href="#").btn._white Забронировать
							a(href="#").link-arrow._white Подробнее о номере
			.residence
				.residence__bg.bg-scale 
					+picture('r-4','jpg') 
				.residence__content
					.residence__head
						ul.residence__parametrs 
							li.icon-square Площадь номера 30 м2
							li.icon-capacity вместимость до 3 человек 
							li.icon-room 1 комната
					.residence__body
						.residence__title Афрейм с купелью
						.residence__desc 
							p  Афрейм — небольшой деревянный домик с треугольной крышей, мини-кухней и кроватью-чердаком.
					.residence__footer 
							a(href="#").btn._white Забронировать
							a(href="#").link-arrow._white Подробнее о номере
			.residence
				.residence__bg.bg-scale 
					+picture('r-5','jpg') 
				.residence__content
					.residence__head
						ul.residence__parametrs 
							li.icon-square Площадь номера 30 м2
							li.icon-capacity вместимость до 3 человек 
							li.icon-room 1 комната
					.residence__body
						.residence__title Афрейм с камином
						.residence__desc 
							p  Афрейм — небольшой деревянный домик с треугольной крышей, мини-кухней и кроватью-чердаком.
					.residence__footer 
							a(href="#").btn._white Забронировать
							a(href="#").link-arrow._white Подробнее о номере
			.residence
				.residence__bg.bg-scale 
					+picture('r-6','jpg') 
				.residence__content
					.residence__head
						ul.residence__parametrs 
							li.icon-square Площадь номера 30 м2
							li.icon-capacity вместимость до 3 человек 
							li.icon-room 1 комната
					.residence__body
						.residence__title Афрейм
						.residence__desc 
							p Афрейм — небольшой деревянный домик с треугольной крышей, мини-кухней и кроватью-чердаком.
					.residence__footer 
							a(href="#").btn._white Забронировать
							a(href="#").link-arrow._white Подробнее о номере
			.residence
				.residence__bg.bg-scale 
					+picture('r-7','jpg') 
				.residence__content
					.residence__head
						ul.residence__parametrs 
							li.icon-square Площадь номера 27 м2
							li.icon-capacity вместимость до 2 человек 
							li.icon-room 1 комната
					.residence__body
						.residence__title Двухместный номер в коттедже
						.residence__desc 
							p Отдельный номер с мини-кухней и ванной комнатой в коттедже из сруба.
					.residence__footer 
							a(href="#").btn._white Забронировать
							a(href="#").link-arrow._white Подробнее о номере
