extends ../../layout/layout
block title
	title Бухта Петрова
block content
	.inner
		+breadcrumb(['Главная'], 'Инфраструктура')
		.page__head 
			h1 инфраструктура
			.page__down
		.full-img.block
			+picture('inf-1','jpg')
		.anim-block
			.block
				.text 
					
					.row 
						.col-lg-7
							h3 
								color Простор и спокойствие — главные ценности отдыха на курорте «Бухта Петрова».
						.col-lg-5 
						.col-lg-7
						.col-lg-5
							p На территории комплекса нет ничего лишнего: только экологичные деревянные дома, водный прокат и две бани. Атмосферу создают лазурное море и ни с чем не сравнимая природа. Т-ссс!
								br 
								| Мы лишь стараемся не мешать им в этом.
		.anim-block.block
			.full-img
				+picture('inf-map','jpg')
		.anim-block
			.block
				.block__head 
					h2 инфрастуктура
				.info-grid
					.info-item._w-30._radius
						.info-item__text
							.info-item__title._blue-color Коттеджи у моря
							.info-item__desc  
								p На территории комплекса расположено 24 коттеджа из натурального дерева вместимостью от 2 до 12 человек. Удалённость от кромки воды — 30–200 метров
						.info-item__img
							+picture('i-1','jpg')
					.info-item._w-45
						.info-item__text
							.info-item__title._khaki-color Поляны для палаток
							.info-item__desc  
								p На территории комплекса расположены 22 поляны для кэмпинга, оборудованы костровые зоны, душевые и туалеты
						.info-item__img
							+picture('i-2','jpg')
		
					.info-item._w-25._blue-gray
						.info-item__text
							.info-item__title Водный прокат
							.info-item__desc  
								p Здесь вы можете взять в аренду каяк или сапборд
						.info-item__img.mouseparallax
							+picture('i-3','png')
					.info-item._w-100._img-left
						.info-item__text
							.info-item__title._brown-color Афреймы
							.info-item__desc  
								p 6 небольших домов с треугольной крышей и панорамными окнами расположены ближе к лесу. Особенность этого размещения — большая кровать под мансардным потолком. Из каждого афрейма открывается великолепный вид на бухту. Расстояние от кромки воды — 150–200 метров
						.info-item__img.mouseparallax
							+picture('i-4','jpg')
					.info-item._w-25._brown 
						.info-item__text
							.info-item__title Кафе
							.info-item__desc  
								p Ждём открытия уютного кафе на территории в 2023 году
						.info-item__img.mouseparallax
							+picture('i-5','png')
					.info-item._w-45._radius
						.info-item__text
							.info-item__title._khaki-color Поляны для палаток
							.info-item__desc  
								p На территории комплекса расположены 22 поляны для кэмпинга, оборудованы костровые зоны, душевые и туалеты
						.info-item__img
							+picture('i-6','jpg')
					.info-item._w-30._radius
						.info-item__text
							.info-item__title._blue-color Баня на берегу
							.info-item__desc  
								p Всего в 10 метрах от кромки воды расположен банный комплекс с финской купелью. Здесь можно превосходно попариться, расслабиться в горячей купели с гидромассажем и насладиться закатом
						.info-item__img
							+picture('i-7','jpg')
		
					.info-item._w-100._img-left
						.info-item__text
							.info-item__title._brown-color Парк оленей
						.info-item__img
							+picture('i-8','jpg')
					.info-item._w-45._radius
						.info-item__text
							.info-item__title._khaki-color Детская площадка
							.info-item__desc  
								p ___
						.info-item__img
							+picture('i-9','jpg')
					.info-item._w-30._radius
						.info-item__text
							.info-item__title._blue-color Спортивная площадка
							.info-item__desc  
								p ___
						.info-item__img
							+picture('i-10','jpg')
					.info-item._w-25._radius._blue-gray._empty 
						.info-item__text
							.info-item__title Другие обозначения
