.preloader
    .preloader__flex 
        .preloader__content
            .preloader__logo    
                .preloader__time
                    .preloader__arrow-hours
                        span
                    .preloader__arrow-minuts
                        span
            .preloader__text 
                img(src="../img/preloader-text.svg", alt="")