header.header 
	.inner 
		.header__row 
			.header__left
				button.header__burger(type="button")
					.header__burger-content
						span 
						span 
				a(href="residence.html").header__back Назад к номерам
 
			a(href="#").header__logo
				.header__logo-1
					img(src="img/logo.svg", alt="")
				.header__logo-2
					img(src="img/logo-text.svg", alt="")
			.header__contact 
				a(href="tel:+79140680351").header__phone  +7 (914) 068 03 51
				button.btn(type="button",data-popup="#feedback") Забронировать