.residence-slider.swiper
				.swiper-wrapper 
					.swiper-slide.residence-slide
						.residence-slide__bg.bg-scale 
							+picture('aframe','jpg') 
						.residence-slide__content
							.residence-slide__head
								ul.residence-slide__parametrs 
									li.icon-square Площадь номера 30 м2
									li.icon-room 1 комната
									li.icon-capacity вместимость до трех мест 
									
								.residence-slide__paginator 
									.residence-slide__paginator-now
									.residence-slide__divider
									.residence-slide__paginator-all
							.residence-slide__body
								.residence-slide__title АФРЕЙМ
								.residence-slide__desc 
									p A-frame дом для уединённого отдыха с панорамным видом на море. 
							.residence-slide__footer 
									a(href="#").btn._white Забронировать
									a(href="#").link-arrow._white Подробнее о номере
				
					.swiper-slide.residence-slide
						.residence-slide__bg.bg-scale
							+picture('aframe','jpg') 
						.residence-slide__content
							.residence-slide__head
								ul.residence-slide__parametrs 
									li.icon-square Площадь номера 30 м2
									li.icon-room 1 комната
									li.icon-capacity вместимость до трех мест 
								.residence-slide__paginator 
									.residence-slide__paginator-now
									.residence-slide__divider
									.residence-slide__paginator-all
							.residence-slide__body
								.residence-slide__title АФРЕЙМ 2
								.residence-slide__desc 
									p A-frame дом для уединённого отдыха с панорамным видом на море. 
							.residence-slide__footer 
									a(href="#").btn._white Забронировать
									a(href="#").link-arrow._white Подробнее о номере
					
					.swiper-slide.residence-slide
						.residence-slide__bg.bg-scale 
							+picture('aframe','jpg') 
						.residence-slide__content
							.residence-slide__head
								ul.residence-slide__parametrs 
									li.icon-square Площадь номера 30 м2
									li.icon-room 1 комната
									li.icon-capacity вместимость до трех мест 
								.residence-slide__paginator 
									.residence-slide__paginator-now
									.residence-slide__divider
									.residence-slide__paginator-all
							.residence-slide__body
								.residence-slide__title АФРЕЙМ 3
								.residence-slide__desc 
									p A-frame дом для уединённого отдыха с панорамным видом на море. 
							.residence-slide__footer 
									a(href="#").btn._white Забронировать
									a(href="#").link-arrow._white Подробнее о номере
					
					.swiper-slide.residence-slide
						.residence-slide__bg.bg-scale 
							+picture('aframe','jpg') 
						.residence-slide__content
							.residence-slide__head
								ul.residence-slide__parametrs 
									li.icon-square Площадь номера 30 м2
									li.icon-room 1 комната
									li.icon-capacity вместимость до трех мест 
								.residence-slide__paginator 
									.residence-slide__paginator-now
									.residence-slide__divider
									.residence-slide__paginator-all
							.residence-slide__body
								.residence-slide__title АФРЕЙМ
								.residence-slide__desc 
									p A-frame дом для уединённого отдыха с панорамным видом на море. 
							.residence-slide__footer 
									a(href="#").btn._white Забронировать
									a(href="#").link-arrow._white Подробнее о номере
					
					.swiper-slide.residence-slide
						.residence-slide__bg.bg-scale
							+picture('aframe','jpg') 
						.residence-slide__content
							.residence-slide__head
								ul.residence-slide__parametrs 
									li.icon-square Площадь номера 30 м2
									li.icon-room 1 комната
									li.icon-capacity вместимость до трех мест 
								.residence-slide__paginator 
									.residence-slide__paginator-now
									.residence-slide__divider
									.residence-slide__paginator-all
							.residence-slide__body
								.residence-slide__title АФРЕЙМ
								.residence-slide__desc 
									p A-frame дом для уединённого отдыха с панорамным видом на море. 
							.residence-slide__footer 
									a(href="#").btn._white Забронировать
									a(href="#").link-arrow._white Подробнее о номере
					
					.swiper-slide.residence-slide
						.residence-slide__bg.bg-scale
							+picture('aframe','jpg') 
						.residence-slide__content
							.residence-slide__head
								ul.residence-slide__parametrs 
									li.icon-square Площадь номера 30 м2
									li.icon-room 1 комната
									li.icon-capacity вместимость до трех мест 
								.residence-slide__paginator 
									.residence-slide__paginator-now
									.residence-slide__divider
									.residence-slide__paginator-all
							.residence-slide__body
								.residence-slide__title АФРЕЙМ
								.residence-slide__desc 
									p A-frame дом для уединённого отдыха с панорамным видом на море. 
							.residence-slide__footer 
									a(href="#").btn._white Забронировать
									a(href="#").link-arrow._white Подробнее о номере
					
					.swiper-slide.residence-slide
						.residence-slide__bg.bg-scale
							+picture('aframe','jpg') 
						.residence-slide__content
							.residence-slide__head
								ul.residence-slide__parametrs 
									li.icon-square Площадь номера 30 м2
									li.icon-room 1 комната
									li.icon-capacity вместимость до трех мест 
								.residence-slide__paginator 
									.residence-slide__paginator-now
									.residence-slide__divider
									.residence-slide__paginator-all
							.residence-slide__body
								.residence-slide__title АФРЕЙМ
								.residence-slide__desc 
									p A-frame дом для уединённого отдыха с панорамным видом на море. 
							.residence-slide__footer 
									a(href="#").btn._white Забронировать
									a(href="#").link-arrow._white Подробнее о номере
					
					.swiper-slide.residence-slide
						.residence-slide__bg.bg-scale
							+picture('aframe','jpg') 
						.residence-slide__content
							.residence-slide__head
								ul.residence-slide__parametrs 
									li.icon-square Площадь номера 30 м2
									li.icon-room 1 комната
									li.icon-capacity вместимость до трех мест 
								.residence-slide__paginator 
									.residence-slide__paginator-now
									.residence-slide__divider
									.residence-slide__paginator-all
							.residence-slide__body
								.residence-slide__title АФРЕЙМ
								.residence-slide__desc 
									p A-frame дом для уединённого отдыха с панорамным видом на море. 
							.residence-slide__footer 
									a(href="#").btn._white Забронировать
									a(href="#").link-arrow._white Подробнее о номере
					

					
				.residence-slider__nav 
					.residence-slider__nav-prev
						<svg width="22" height="15" xmlns="http://www.w3.org/2000/svg" fill="none"><path stroke-width="2" d="M1.945 8.015 8.37 1.4M1.749 6.79l6.62 6.875M2.86 7.47l18.542.062"/></svg>

					.residence-slider__nav-next
						<svg width="21" height="14" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M19.4 7.133 13.267 1m6.942 5.58-6.942 6.687m6.174-6.1L.234 7.133"  stroke-width="2"/></svg>