//- .gallery-slider
//-     .gallery-slider__wrapper
//-         .gallery-slider__padding 
//-         .gallery-it 
//-             a.gallery-it__bg(data-caption="Кухня",href="img/r-1.jpg", data-fancybox="gallery" )
//-                 +picture('r-1','jpg')
//-         .gallery-it 
//-             .gallery-it__bg(data-caption="Кухня",href="img/r-2.jpg", data-fancybox="gallery" )
//-                 +picture('r-2','jpg')
//-         .gallery-it 
//-             a.gallery-it__bg(data-caption="Кухня",href="img/r-3.jpg", data-fancybox="gallery" )
//-                 +picture('r-3','jpg')
//-         .gallery-it 
//-             a.gallery-it__bg(data-caption="Кухня",href="img/r-4.jpg", data-fancybox="gallery" )
//-                 +picture('r-4','jpg')
//-         .gallery-it 
//-             a.gallery-it__bg(data-caption="Кухня",href="img/r-5.jpg", data-fancybox="gallery" )
//-                 +picture('r-5','jpg')
//-         .gallery-it 
//-             a.gallery-it__bg(data-caption="Кухня",href="img/r-6.jpg", data-fancybox="gallery" )
//-                 +picture('r-6','jpg')
//-         .gallery-it 
//-             a.gallery-it__bg(data-caption="Кухня",href="img/r-7.jpg", data-fancybox="gallery" )
//-                 +picture('r-7','jpg')
//-         .gallery-slider__padding 
//-     .gallery-slider__pagi

.gallery-swiper.swiper 
    .swiper-wrapper
        .swiper-slide.gallery-it 
            a.gallery-it__bg(data-caption="Кухня",href="img/r-1.jpg", data-fancybox="gallery" )
                +picture('r-1','jpg')
        .swiper-slide.gallery-it 
            .gallery-it__bg(data-caption="Кухня",href="img/r-2.jpg", data-fancybox="gallery" )
                +picture('r-2','jpg')
        .swiper-slide.gallery-it 
            a.gallery-it__bg(data-caption="Кухня",href="img/r-3.jpg", data-fancybox="gallery" )
                +picture('r-3','jpg')
        .swiper-slide.gallery-it 
            a.gallery-it__bg(data-caption="Кухня",href="img/r-4.jpg", data-fancybox="gallery" )
                +picture('r-4','jpg')
        .swiper-slide.gallery-it 
            a.gallery-it__bg(data-caption="Кухня",href="img/r-5.jpg", data-fancybox="gallery" )
                +picture('r-5','jpg')
        .swiper-slide.gallery-it 
            a.gallery-it__bg(data-caption="Кухня",href="img/r-6.jpg", data-fancybox="gallery" )
                +picture('r-6','jpg')
        .swiper-slide.gallery-it 
            a.gallery-it__bg(data-caption="Кухня",href="img/r-7.jpg", data-fancybox="gallery" )
                +picture('r-7','jpg')
    .gallery-swiper__pagi