extends ../../layout/layout
block title
	title Бухта Петрова
block content
	.inner
		+breadcrumb(['Главная'], 'услуги')
		.page__head 
			h1 услуги 
				small для отдыха душой и телом
			.page__down
		<div style="margin-bottom: 20px; margin-top: 20px;" class="videoframe">
			<iframe width="100%" height="780" src="https://rtsp.me/embed/rAE9KsBT/" frameborder="0" allowfullscreen=""></iframe>
		</div>